body, td, a {
    font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.btOnE, .btOnD, .btOnC {
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 18px;
	border: 0px none;
	cursor: pointer;
}
.btOnE, .btOnD {
	width: 4px;
}

.btOnE {
	background-image: url(images/login/btOnE.gif);
	background-position: top right;
    
}

.btOnD {
	background-image: url(images/login/btOnD.gif);
    background-position: left top;    
}

.btOnC {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	background-repeat: repeat-x;
	background-image: url(images/login/btOnC.gif);
	font-size: 10px;
	white-space: nowrap;
}




.loginDiv {
    width: 450px;
    height: 261px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0px;
    margin: 0px;
    margin-left: -250px;
    margin-top: -150px;
}
.loginDivCampos {
	position: absolute;
	left: 230px;
	top: 100px;
	width:200px;
}
.loginLabel, .loginMsg {
	color: #FFFFFF;
	font-size: 12px;
}
.loginMsg {
    padding-top: 5px;
	text-align: center;
}
.loginDivTitulo {
	color: #FFFFFF;
	font-size: 16px;
	position: absolute;
	left: 40px;
	top: 38px;
}

.loginLink {
	font-size:10px;
    text-decoration: underline;
}

.loginBorder {
    border: 5px solid #286222; 
	background-repeat: repeat-x;
	background-image: url(images/login/login.png);
}

.tdLogin {
    padding-right:20px;
}

.imgLogo {
    height:55%;
    padding-left:20px;
    padding-bottom:30px;
}

.tdFooter {
    height:15%;
    background-image: url(images/login/linha_footer.png);
    background-repeat: repeat-x;
}

.divLabel {
    font-family: Arial;
    font-size:20;
    color: #FFFFFF;
    font-weight: bold;
    padding-top:30px;
    padding-left:20px;
    height:28%;
}